@color-twitter: #55acee;
@color-linkedin: #0976b4;
@color-facebook: #3b5998;
@color-googleplus: #dd4b39;
@color-flickr: #ff0084;
@color-pinterest: #cc2127;
@color-instagram: #3f729b;
@color-youtube: #e52d27;
@color-tumblr: #35465c;
@color-vimeo: #1ab7ea;
@color-slideshare: #e98325;