/***********************
******* General  *******
************************/
body{
  min-height: 100%;
  &.logged-in{
    margin-top: 50px;

    .navbar-fixed-top{
      top:32px;
    }
  }
  &.custom-background{
    background-size: contain !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    //background-attachment: fixed !important;
  }
}


blockquote{
  border: none;
  padding: 30px;
  margin: 10px 0;
  &::before{
    font-family: @font-fontawesome;
    font-size: 2em;
    content: @fa-var-quote-left;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  p{
    font-size: 1.3em;
    line-height: 1.4em;
    padding-left: 50px;
  }
  footer{
    text-align: right;
    font-style: italic;
    margin: 15px 0 5px 0;
  }
}

.sticky{
  background-color: inherit;
}
.gallery-caption{
  background-color: inherit;
}
.bypostauthor{
  background-color: inherit;
}

.breadcrumb{
  & > li{
    width: 100% !important;
    max-width: 100% !important;
  }
}

/***********************
****** Author Bio  ******
************************/
.author-bio-box{
  #entry-author{
    margin: 25px 0;
    border: 1px solid @color-line-light;
    padding: 25px;
    background-color: white;
    background-color: rgba(255,255,255,0.75);

    .author-image{
      margin-left: 25px;
    }
  }
}


/***********************
*** Menu Navigation  ***
************************/
#site-header{
  #menu-top{
    &.navbar{
      min-height: 25px;
      border: none;
    }
  }
}
#menu-top{
  margin-bottom: 0;
  ul.navbar-nav{
    li{
      a{
        font-size: 0.8em;
        padding-top:5px;
        padding-bottom: 5px;
      }
    }
  }
}
#menu-mobile{
 .mobile-contact-social{
   position: absolute;
   bottom:0;
   border-top: 1px solid @color-line-light;
   h4{
     padding-left: 15px;
   }
   .social-icons-list();
 }
}
#menu-primary{
  &.with-top{
    margin-top: 30px;
  }

  #main-mobile-search{
    #mobile-searchform{
      .form-group{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .navbar-header{
    #mobile-search-toggle{
      padding: 5px 15px;
    }

    .navbar-brand{
      &.navbar-brand-logo{
        padding: 7px 20px;
        img{
          height: 100%;
        }
      }
    }
  }
}

/********************
**** Homepage  ******
********************/
.page-template-template-homepage{
  .jumbotron{
    background-color: @color-inverse-bg;
    background-position: center center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    //background-attachment: fixed !important;
    min-height: 400px;
    .border-radius(0);

    .section-video{
      margin-top: 25px;
      margin-bottom: 25px;
      background-position: center center;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      .clickable-video();
    }

    &.light{
      h1, h2, h3, h4, p, blockquote{
        color: @color-inverse-body;
        text-shadow: 1px 1px 1px @color-body;
      }
    }
    &.dark{
      h1,h2,h3,h4,p, blockquote{
        text-shadow: 1px 1px 1px @color-line-light;
      }
    }
    p{
      font-weight: 300;
    }
    blockquote{
      background-color: transparent;
      padding-left: 10px;
      padding-right: 10px;
      width: 50%;
    }
    a{
      text-shadow: none;
    }
  }
}


/********************
******* Post  ******
********************/
.loop-entry-meta(){
  .entry-meta{
    font-size: 0.9em;
    margin: 5px 0;
    a, .updated{
      font-weight: bold;
    }

  }
}
.post-entry-meta(){
  .entry-meta{
      list-style: none;
      padding-left: 0;
      font-size: 0.9em;
      li{
        display: inline-block;
        width: 49%;
        margin-right: 0;
        &.entry-date,
        &.entry-author,
        &.entry-categories,
        &.entry-comments{
          &::before{
            font-family: @font-fontawesome;
            margin-right: 5px;
          }
        }

        &.entry-date{
          &::before{
            content: @fa-var-clock-o;
          }
        }
        &.entry-author{
          &::before{
            content: @fa-var-user;
          }
        }
        &.entry-categories{
          &::before{
            content: @fa-var-bookmark;
          }
        }
        &.entry-comments{
          &::before{
            content: @fa-var-comments;
          }
        }
      }
    }
}

.entry-tags{
  font-size: 0.9em;
}
.post-edit-link{
  .btn();
  .btn-default();
  .btn-xs();
  &::before{
    font-family: @font-fontawesome;
    content: @fa-var-edit;
    margin-right: 5px;
  }
}

/********************
*** Image Slider  ***
********************/
.carousel{
  .carousel-control{

    &.left, &.right{
      .fa{
        font-size: 2.5em;
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
      }
    }
    &.left{
      .fa{
        right: 50%;
      }
    }
    &.right{
      .fa{
        left: 50%;
      }
    }
  }
}
.gallery-carousel{
  .carousel-indicators{
    bottom:0;
    margin-left: 0px;
    padding-left: 30px;
    left: 0;
    width: 100%;
    text-align: left;
  }
  .carousel-inner{
    .item{
      .carousel-caption{
        position: relative;
        width: 100%;
        height: auto;
        background-color: black;
        //background-color: rgba(0,0,0, 0.75);
        left: 0;
        right: 0;
        bottom: 0;
        text-align: right;
        padding: 10px 15px;
        min-height: 45px;
        h3{
          color: white;
          font-size: 0.9em;
          margin-top: 5px;
          margin-bottom: 5px;
        }
        p{
          font-size: 0.8em;
        }
      }
    }
  }

}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade{
  .carousel-inner{
    .item {
      opacity: 0;
      transition-property: opacity;
    }
    .active {
      opacity: 1;

      &.left,
      &.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }

      .next.left,
      .prev.right {
        opacity: 1;
      }

    }
  }

  .carousel-control {
    z-index: 2;
  }
}


/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


/********************
******* Images ******
********************/
.wp-caption{
  background-color: @color-caption-bg;
  padding:0;
  img{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
  .wp-caption-text{
    padding: 5px 10px;
    margin: 5px auto;
    font-style: italic;
  }

  &.aligncenter{
    margin: 15px auto;
  }
  &.alignnone{
    margin: 15px 5px;
  }
  &.alignleft{
   .pull-left();
   margin: 5px 15px 5px 0;
  }
  &.alignright{
   .pull-right();
   margin: 5px 0 5px 15px;
  }

}
img.aligncenter{
  margin: 15px auto;
}
img.alignnone{
  margin: 15px 5px;
}
img.alignleft{
 .pull-left();
 margin: 5px 15px 5px 0;
}
img.alignright{
 .pull-right();
 margin: 5px 0 5px 15px;
}


/********************
***** Comments ******
********************/
#respond{
  margin-bottom: 45px;

  input[type="button"], input[type="reset"], input[type="submit"]{
    .btn();
    .btn-primary();
  }

  input, select, textarea{
    .form-control();
	  .border-radius(0);
  }

  textarea{
      height: 150px !important;
      .form-control();
  }

  p.form-allowed-tags{
    display: none;
  }

  .comment-form-author, .comment-form-email,.comment-form-url, .comment-form-comment{
    label{
      &::before{
        font-family: @font-fontawesome;
        margin-right: 5px;
      }
      .required{
        color: red;
      }
    }
  }

  .comment-form-comment{
    label{
      &::before{
        content: @fa-var-comments;
      }
    }
  }

  .comment-form-author{
    label{
      &::before{
        content: @fa-var-user;
      }
    }
  }
  .comment-form-email{
    label{
      &::before{
        content: @fa-var-envelope;
      }
    }
  }

  .comment-form-url{
    label{
      &::before{
        content: @fa-var-link;
      }
    }
  }
}

.media-list{
    .media{
      border-top: 1px solid @color-line-light;
      margin-top: 20px;
      padding: 20px 0 5px 0;
      clear: both;
      time{
        font-size: 0.8em;
        &::before{
          font-family: @font-fontawesome;
          content: @fa-var-clock-o;
          margin-right: 5px;
        }
      }

      .media-body{
        .comment-options{
          margin-top: 15px;
        }

        .comment-reply-link{
          &::before{
            font-family: @font-fontawesome;
            content: @fa-var-mail-reply;
            margin-right: 5px;
          }
        }

        .comment-edit{
          text-align: right;
        }
        .comment-reply{
          text-align: left;
        }
      }
    }
}

.fb-comments{
  iframe{
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

/********************
****** Widgets ******
********************/
.sidebar{
  .widget-area{
    .widget{
      border-bottom: 1px solid @color-line-light;
      h4{
        border-bottom: 1px solid @color-line-light;
        padding: 5px 0 10px 0;
      }

      ul{
        list-style: none;
        padding-left: 5px;
        li{
          margin: 3px 0;
        }
      }
    }
  }
}

.footer-widgets{
  .widget-area{
    .widget{
      color: @color-inverse-body;
      h4{
        color: @color-inverse-body;
        border-bottom: 1px solid @color-inverse-line;
        padding: 5px 0 10px 0;
      }
      a{
        color: @color-inverse-link;
        &:hover{
          color: @color-inverse-link-hover
        }
      }
    }

    .widget_recent_entries{
      li{
        border-bottom: 1px solid @color-inverse-line;
      }
    }
  }
}

.widget_search{
  .widget-title{
    display: none;
  }
  #searchform{
    .form-group{
      width: 100%;
      .input-group{
        width: 100%;
      }
    }
  }

}

.widget_tw_social_widget,
.widget_pages,
.widget_categories,
.widget_tag_cloud,
.widget_archive,
.widget_calendar,
.widget_recent_entries,
.widget_recent_comments,
.widget_rss,
.widget_meta{
  .widget-title{
    &::before{
      font-family: @font-fontawesome;
      margin-right: 5px;
    }
  }
}

.widget_tw_social_widget{
  .social-icons-list();
}
.widget_pages{
  .widget-title{
    &::before{
      content: @fa-var-file;
    }
  }
}
.widget_meta{
  .widget-title{
    &::before{
      content: @fa-var-wrench;
    }
  }
}
.widget_categories{
  .widget-title{
    &::before{
      content: @fa-var-bookmark;
    }
  }
  .postform{
    .form-control();
  }

}
.widget_tag_cloud{
  .widget-title{
    &::before{
      content: @fa-var-tags;
    }
  }
}
.widget_archive{
  .widget-title{
    &::before{
      content: @fa-var-archive;
    }
  }
}
.widget_calendar{
  .widget-title{
    &::before{
      content: @fa-var-calendar;
    }
  }

  #calendar_wrap{
    #wp-calendar{
      width: 100%;
      caption{
        font-weight: bold;
        text-align: center;
      }
    }
  }

  #wp-calendar{
    td, th{
      text-align: center;

    }
    td{

    }
    #today{
      background: #cccccc;
      .border-radius(100em);
      color: white;
      a{
        color: white;
      }
    }
    #prev{
      text-align: left;
    }
    #next{
      text-align: right;
    }
  }
}
.widget_recent_entries{
  .widget-title{
    &::before{
      content: @fa-var-clock-o;
    }
  }
  li{
    border-bottom: 1px solid @color-line-light;
    padding: 0 0 5px 0;
    margin-bottom: 5px;

    .post-date{
      display: block;
      font-size: 0.6em !important;
      &::before{
        font-family: @font-fontawesome;
/*         content: @fa-var-clock-o; */
        margin-right: 5px;
      }
    }
  }

}
.widget_recent_comments{
  .widget-title{
    &::before{
      content: @fa-var-comments;
    }
  }
}
.widget_rss{
  .widget-title{
    a.rsswidget img{
      display: none;
    }
    &::before{
      content: @fa-var-rss;
    }
  }
  ul{
    li{
      margin-bottom: 5px !important;
      padding-bottom: 5px !important;

      cite{
        width: 100%;
        font-style: italic;
        font-size: 0.8em !important;
        &::before{
          content: '-';
          margin-right: 5px;
        }
      }
    }
  }

  .rss-date{
    display: block;
    font-size: 0.6em;
    margin: 3px 0;
    &::before{
      font-family: @font-fontawesome;
/*       content: @fa-var-clock-o; */
      margin-right: 5px;
    }
  }

}

.widget{
  padding: 15px 0;
  ul{
    list-style: none;
    padding-left: 5px;

    ul.children{
      padding-left: 10px;
      li{
        border-left: 1px dotted @color-line-dark;
        padding-left: 10px;
      }
    }

    &.fa-ul{
      margin-left: 1.5em;
    }
  }
}


/********************
**** Site Footer ****
********************/
#site-footer{
  background-color: @color-inverse-bg;
  color: @color-inverse-body;
  padding: 10px 0;
  margin-top: 25px;
  a{
    color: @color-inverse-link;
    &:hover{
      color: @color-inverse-link-hover;
    }
  }

  .footer-container{


    #footer-menu{
      margin-top: 15px;
      ul#menu-footer-menu{
        list-style: none;
        padding-left: 0;
        font-size: 0.9em;

        li{
          display: inline-block;
          margin-right: 10px;
          &::after{
            content: '|';
            margin-left: 10px;
            color: @color-inverse-line;
          }
          &:last-child{
            &::after{
              content: none;
            }
          }
        }
      }
    }

    #copyright, #credit{
      font-size: 0.8em;
    }
    #copyright{}
    #credit{
      text-align: right;
    }
  }
}


/********************
**** Back to Top ****
********************/

#top-link-block{
  &.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 15px;
    z-index: 1001;
  }
  &.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 35px;
    right: 15px;
    z-index: 1001;
  }
}


.scroll-top-wrapper {
  -webkit-backface-visibility: hidden;
  position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	z-index: 99999999;
	right: 30px;
	bottom: 0px;

  .btn-default{
    background-color: @color-inverse-bg;
    color: @color-inverse-body;
    .border-radius(0);
    border:none;
    &:hover{
      background-color: lighten(@color-inverse-bg, 10%);
      color: @color-inverse-body;
    }
  }

  .transition(all, 0.5s, ease-in-out);
  &.show {
    visibility:visible;
  	opacity: 1.0;
  }

  &.affix-bottom{
    position: relative;
    text-align: right;
    margin-bottom: -25px;
    top: 0 !important;
  }
}


@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

@media only screen and (max-width: @screen-sm){

	body{
    &.logged-in{
      margin-top: 0px;
      .navbar-fixed-top{
        top:46px;
      }
    }
  }

  #menu-primary{
    &.with-top{
      margin-top: 0px;
    }
  }

  .page-template-template-homepage{
    .jumbotron{

      blockquote{
        width: 100%;
      }
    }
  }

  #site-footer{
    padding: 25px inherit;
    .footer-container{
      #copyright{}
      #credit, #copyright{
        text-align: left;
      }
    }
  }

  .carousel{
    .carousel-inner{
      .item{
        .carousel-caption{
          position: relative;
          width: 100%;
          height: auto;
          background-color: black;
          //background-color: rgba(0,0,0, 0.75);
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          padding: 10px 15px;
          min-height: 45px;
          h2,h3{
            color: white;
            font-size: 1.1em;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          p{
            font-size: 0.8em;
          }
        }
      }
    }
  }

}


@media only screen and (min-width: @screen-sm){


}


/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: @screen-md) {



}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: @screen-lg) {


}
